{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="row no-gutter">
    <div class="col-md-12">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7 mx-auto my-3">
                        <form action="" method='post' class='px-4 pt-4 col-lg-8 mx-auto shadow-lg rounded'>
                            {% csrf_token %}
                            {% if messages %} {% for message in messages %}
                            <div class="my-2 alert alert-{{ message.tags }}">{{message}}</div>
                            {% endfor %} {% endif %}
                            <h3 class="mb-4">Sign In</h3>
                                {{form|crispy}}
                            <div class="d-grid gap-2">
                                <input type="hidden" name="next" value="{{next}}">
                                <button type="submit" class='btn btn-info btn-block w-100 py-2 mb-4 mt-4' value="Log-in">
                                    Sign In
                                </button>
                            </div>
                            <p class="text-center pb-3">
                                <a href="{% url 'courses:index' %}">Register for an account?</a>
                                <br>
                                <a href="{% url 'password_reset' %}">Forgot password?</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

