{% extends 'account/base.html' %} 
{% block title %}Password Reset Complete{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href="{% url 'courses:index' %}";
</script>
{%endif%}

<div class="row no-gutter">
    <div class="col-md-12">
        <div class="d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7 mx-auto">
                        <div class="p-4">                       
                            <h3 class="mb-4">Password Reset Success</h3>
                            <a href="{% url "account:login" %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}