{% extends 'base.html' %}
{% block title %}Password Change Successful{% endblock title %}
{% block content %}

<div class="row no-gutter">
    <div class="col-md-12">
        <div class="d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7 mx-auto">
                        <div class="p-4">   
                          <h3 class="mb-4">>Your password was changed successfully!</h3>
                          <a href="{% url 'courses:index' %}">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}