{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href="{% url 'courses:index' %}";
</script>
{%endif%}
<div class="row no-gutter">
    <div class="col-md-12">
        <div class="d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7 mx-auto">
                        <form action="" method='post' class='px-4 pt-4 col-lg-8 mx-auto'>
                            {% csrf_token %}
                            <h3 class="mb-4">Password Reset</h3>
                            {{form|crispy}}
                            <button type="submit" class="btn btn-info btn-block w-100 py-2 mb-4 mt-4">
                              Request Password Reset
                            </button>
                            <p class="text-center pb-3">
                                <a href="{% url 'account:login' %}">Back to Login screen</a>
                            </p>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}