[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
django-embed-video = "*"
djangorestframework = "*"
django-filter = "*"
django-summernote = "*"
django-adminlte3 = "*"
django-cloudinary-storage = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
